.dodo-bird {
  position: fixed;
  z-index: 99999999999999;
  transition: none; /* Remove transition for dragging */
}

.dodo-bird.dodo-bird--flying {
  transition: all 1s ease-in-out; /* Add transition only when flying */
}

.dodo-bird img {
  width: 100px;
  height: auto;
}

.dodo-bird--flying img {
  animation: fly 0.5s infinite alternate;
}

@keyframes fly {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.speech-bubble {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: translateX(-120px);
  width: 500px;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.speech-bubble p {
  margin: 0;
  font-size: 14px;
  color: black;
}
