.dodo-bird {
  position: fixed;
  z-index: 99999999999999;
  transition: none; /* Remove transition for dragging */
}

.dodo-bird.dodo-bird--flying {
  transition: all 1s ease-in-out; /* Add transition only when flying */
}

.dodo-bird img {
  width: 100px;
  height: auto;
}

.dodo-bird--flying img {
  animation: fly 0.5s infinite alternate;
}

@keyframes fly {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.speech-bubble {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}